*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-family: 'poppins', sans-serif;
}

.continer{
  width: 100%;
  background: url(Zoo_images/bg-zoo3.png);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position:center;
  min-height: 100vh;
}

.navbar{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.logo{
  width: 160px;
  display: flex;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-weight:400;
  transition: 0.3s ease;
  padding: 8px 15px;
}

nav ul li a:hover{
  text-decoration:underline;
  text-decoration-color:#df4881 ;

}

.text-description{
  color: white;
  width: 80%;
  text-align: center;
  font-weight:400;
  line-height: 25px;
  margin-left: 65px;
  margin-top: 65px;
}
h2{
  color:rgb(200, 255, 0);
  margin-left: 70px;
  
}

.btn-zoo{
  color: white;
  padding: 8px 30px;
  margin-top: 10px;
  margin-left:70px;
  background-image: linear-gradient(45deg,#df4881,#c430d7);
  font-size: 25px;
  border-radius: 15px;
  border-top-right-radius: 0;
  transition: 0.5s;
  border: none;
}

.btn-zoo:hover{
  border-top-right-radius: 15px;
}

.btn-zoo:active{
  opacity: 0.8;
}
p{
  font-size:15px;
  width:115%;
}